$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome.scss";


$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.mainWrap {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
//header style
.header {
  width: 80%;
  margin: 50px auto 30px auto;
  color: #262626;
  .headline {

  }
  .content p {
    font-size: 20px;
    font-weight: bolder;
  }
}

//main content where projects div style is
.projectsWrap {
  width: 98%;
  margin: 10px auto 40px auto;;

}
.projectsDiv {
  padding: 2px;
  position: relative;
  max-height: 300px ;
  border: 1px solid #fff;

  .touchOnlyIcons {
    position: absolute;
    right: 20px;
    bottom: 20px;

  }
  .intro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    display: none;
    padding: 20px;
    // max-height: 300px !important

  }

  img {
    width: 100%;
    height: 300px;

  }

  .glyphicon {
    font-size: 300%;
  }
}

// replace hover state style with clict even style
.introTouchDeviceHide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  display: none;
  padding: 20px;
}
.introTouchDeviceShow {
  display: inline-block;
  background-color: #990099;
  opacity: 0.9;
  font-weight: bold;
}

//add hover state on desktop
.nonTouchDevice {

  .projectsDiv:hover {

    .intro {
      display: inline-block;
      background-color: #990099;
      opacity: 0.9;
      font-weight: bold;
    }
  }

  .contact i:hover {
    background-color: #ff3300;
  }
}

//footer style
.footer {
  width: 100%;
  margin: 5px auto;
  background: -webkit-radial-gradient(#ffffff,#999999); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ffffff,#999999); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ffffff,#999999); /* For Fx 3.6 to 15 */
  background: linear-gradient(#ffffff,#999999); /* Standard syntax (must be last) */
  height: 500px;
  .contact {
    width: 70%;
    margin: auto;
    a {
      text-decoration: none;

    }
  }

  .fa {
    font-size: 90px;
    font-weight: bold;
    color: white;
    padding: 30px;
  }
}
