<div class="mainWrap" ng-class="{nonTouchDevice: !is_touch_device}">
  <div class="header" layout="column" layout-wrap>
    <div class="headline">
      <h1>Hello & Welcome</h1>
    </div>
    <div class="content">
      <p>
        My name Jing Wait. I am an aspiring full stack web developer.
        As a person who loves living in browers' world,
        I can bring a well rounded asset to your team that can fill any technical need you may have.
      </p>
      <p>
        I am passionate about great design and writing Javascript and Ruby.
        Please take a look at my <a href="https://drive.google.com/file/d/0B6k_CGkGW3O1eGpKMmhvRkhWOFE/view?usp=sharing">Resume</a> and <a href="https://github.com/lovedoodle">Github repo</a> for some examples of my work.
      </p>
      <p>
        Below are some pet projects I have done with AngularJS, NodeJS, and Express based APIs.
      </p>
    </div>
  </div>

  <div layout="row" layout-wrap class="projectsWrap">
  <!-- <div layout="row" layout-wrap layout-xs="column" layout-margin class=""> -->
    <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv">
      <a  href="https://twittersearchmap.herokuapp.com/">
        <img src="./images/twittersearch.png" alt="" />
        <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow1}">
          <h2>Twitter Search API</h2>
          <p>
            Features include showing tweets on Google map and D3 bubble chart of trending tweets and topics.
          </p>
        </div>
      </a>
      <div ng-show="is_touch_device" class="touchOnlyIcons" >
        <span class="glyphicon glyphicon-link" ng-show="toolBar1"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar1" ng-click="toolBar1 = false; infoSign1 = false; introShow1 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign1" ng-click="toolBar1 = true; infoSign1 = true; introShow1 = true"></span>
      </div>
    </div>
    <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv ">
      <a href="https://angularpizzaplanet.herokuapp.com/">
        <img src="./images/pizza.png" alt="" />
        <div  ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow2}">
          <h2>Pizza Menu</h2>
          <p>
            A pet project I did with Yeoman/Angular practicing two-way data binding, inline editing and data persistence with MongoDB .
          </p>
        </div>
      </a>

      <div ng-show="is_touch_device" class="touchOnlyIcons">
        <span class="glyphicon glyphicon-link" ng-show="toolBar2"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar2" ng-click="toolBar2 = false; infoSign2 = false; introShow2 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign2" ng-click="toolBar2 = true; infoSign2 = true; introShow2 = true"></span>
      </div>

    </div>
    <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv">
      <a href="https://hirejing.herokuapp.com/#/">
        <img src="./images/stories.png" alt="" />
        <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow3}">
          <h2>Angular Material Portfolio</h2>
          <p>
            A responsive portfolio site done with the Angular Material framework.
          </p>
        </div>
      </a>

      <div ng-show="is_touch_device" class="touchOnlyIcons">
        <span class="glyphicon glyphicon-link" ng-show="toolBar3"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar3" ng-click="toolBar3 = false; infoSign3 = false; introShow3 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign3" ng-click="toolBar3 = true; infoSign3 = true; introShow3 = true"></span>
      </div>
    </div>

    <!-- <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv">
      <img src="./images/pawesome.png" alt="" />
      <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow4}">
        <h2>Pawesome Care</h2>
        <p>
          Rails app
        </p>
      </div>
      <div ng-show="is_touch_device" class="touchOnlyIcons">
        <span class="glyphicon glyphicon-link" ng-show="toolBar4"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar4" ng-click="toolBar4 = false; infoSign4 = false; introShow4 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign4" ng-click="toolBar4 = true; infoSign4 = true; introShow4 = true"></span>
      </div>
    </div> -->
  </div>

<!-- //footer where stay social -->
  <div class="footer" layout='column'>
    <div class="contact" layout="row" layout-wrap>
      <div class="" flex='25' flex-xs='50'>
        <a href="mailto:jingzhaowait@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </div>
      <div class="" flex='25' flex-xs='50'>
        <a href="https://github.com/lovedoodle"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="" flex='25' flex-xs='50'>
        <a href="https://www.instagram.com/jing.wait/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="" flex='25' flex-xs='50'>
        <a href="https://twitter.com/JingWait"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>

  </div>
</div>
