<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
<div class="mainWrap" ng-class="{nonTouchDevice: !is_touch_device}">
  <div class="" layout="column" layout-wrap>
    <div class="header headline">
      <h3>Hello & Welcome</h1>
    </div>
    <div class="header content" >
      <p>
        My Name Jing Wait. I am an aspiring full stack web developer. As a person who love living in browers' world, how rewarding a career in the behind techlodgies can be!
      </p>
      <p>
        Below are some of pets projects I have been working on.
      </p>

    </div>

  </div>

  <div layout="row" layout-wrap class="projectsWrap">
  <!-- <div layout="row" layout-wrap layout-xs="column" layout-margin class=""> -->
    <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv">
      <a  href="https://twittersearchmap.herokuapp.com/">
        <img src="./images/twittersearch.png" alt="" />
        <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow1}">
          <h2>Twitter Search API</h2>
          <p>
            Angular map built with twitter api and d3
          </p>
        </div>
      </a>
      <div ng-show="is_touch_device" class="touchOnly" >
        <span class="glyphicon glyphicon-link" ng-show="toolBar1"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar1" ng-click="toolBar1 = false; infoSign1 = false; introShow1 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign1" ng-click="toolBar1 = true; infoSign1 = true; introShow1 = true"></span>
      </div>
    </div>
    <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv ">
      <a href="https://angularpizzaplanet.herokuapp.com/">
        <img src="./images/pizza.png" alt="" />
        <div  ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow2}">
          <h2>Pizza Menu</h2>
          <p>
            Built with MEAN stack
          </p>
        </div>
      </a>

      <div ng-show="is_touch_device" class="touchOnly">
        <span class="glyphicon glyphicon-link" ng-show="toolBar2"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar2" ng-click="toolBar2 = false; infoSign2 = false; introShow2 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign2" ng-click="toolBar2 = true; infoSign2 = true; introShow2 = true"></span>
      </div>

    </div>
    <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv">
      <a href="https://thawing-cliffs-53689.herokuapp.com/">
        <img src="./images/stories.png" alt="" />
        <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow3}">
          <h2>Stories Time</h2>
          <p>
            Jquery play ground
          </p>
        </div>
      </a>

      <div ng-show="is_touch_device" class="touchOnly">
        <span class="glyphicon glyphicon-link" ng-show="toolBar3"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar3" ng-click="toolBar3 = false; infoSign3 = false; introShow3 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign3" ng-click="toolBar3 = true; infoSign3 = true; introShow3 = true"></span>
      </div>
    </div>

    <div flex="33" flex-sm="50" flex-xs="100" class="projectsDiv">
      <img src="./images/pawesome.png" alt="" />
      <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow4}">
        <h2>Pawesome Care</h2>
        <p>
          Rails app
        </p>
      </div>
      <div ng-show="is_touch_device" class="touchOnly">
        <span class="glyphicon glyphicon-link" ng-show="toolBar4"></span>
        <span class="glyphicon glyphicon-remove" ng-show="toolBar4" ng-click="toolBar4 = false; infoSign4 = false; introShow4 = false"></span>
        <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign4" ng-click="toolBar4 = true; infoSign4 = true; introShow4 = true"></span>
      </div>
    </div>
  </div>
</div>
