<div class="mainWrap" ng-class="{nonTouchDevice: !is_touch_device}">
  <div class="header" layout="column" layout-wrap>
    <div class="headline">
      <h1>Hello & Welcome</h1>
    </div>
    <div class="content fade-in" >
      <p>
        My name Jing Wait. I am an aspiring full stack web developer who loves living in browers' world.
      </p>
      <p>
        I am passionate about great design and writing Javascript and Ruby.
        Please take a look at my <a href="https://drive.google.com/file/d/0B6k_CGkGW3O1eGpKMmhvRkhWOFE/view?usp=sharing">Resume</a> and <a href="https://github.com/lovedoodle">Github repo</a> for some examples of my work.
      </p>
      <p>
        Below are some pet projects I have done with AngularJS, NodeJS, and Express based APIs.
      </p>
    </div>
  </div>

  <div layout="row" layout-wrap class="projectsWrap fade-in" >
  <!-- <div layout="row" layout-wrap layout-xs="column"  class=""> -->
  <div flex="33" flex-gt-lg='25' flex-sm="50" flex-xs="100" class="projectsDiv" >
    <a href="https://hirejing.herokuapp.com/#/">
      <img src="./images/stories.png" alt="" />
      <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow3}">
        <h3>Angular Material Portfolio</h3>
        <p>
          A responsive portfolio site done with the Angular Material framework and CSS3 Animation.
        </p>
      </div>
    </a>

    <div ng-show="is_touch_device" class="touchOnlyIcons">
      <!-- <a href="https://hirejing.herokuapp.com/#/"><span class="glyphicon glyphicon-link" ng-show="toolBar3"></span></a>
      <span class="glyphicon glyphicon-remove" ng-show="toolBar3" ng-click="toolBar3 = false; infoSign3 = false; introShow3 = false"></span>
      <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign3" ng-click="toolBar3 = true; infoSign3 = true; introShow3 = true"></span> -->
      <a href="https://hirejing.herokuapp.com/#/"><i class="fa fa-link" aria-hidden="true" ng-show="toolBar3"></i></a>
      <i class="fa fa-times" aria-hidden="true" ng-show="toolBar3" ng-click="toolBar3 = false; infoSign3 = false; introShow3 = false"></i>
      <i class="fa fa-info" aria-hidden="true" ng-hide="infoSign3" ng-click="toolBar3 = true; infoSign3 = true; introShow3 = true"></i>
    </div>
  </div>

  <div flex="33" flex-gt-lg='25' flex-sm="50" flex-xs="100" class="projectsDiv ">
    <a href="https://angularpizzaplanet.herokuapp.com/">
      <img src="./images/pizza.png" alt="" />
      <div  ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow2}">
        <h3>Pizza Menu</h3>
        <p>
          A pet project I did with Yeoman/Angular practicing two-way data binding, inline editing and data persistence with MongoDB .
        </p>
      </div>
    </a>

    <div ng-show="is_touch_device" class="touchOnlyIcons">
      <!-- <a href="https://angularpizzaplanet.herokuapp.com/"><span class="glyphicon glyphicon-link" ng-show="toolBar2"></span></a>
      <span class="glyphicon glyphicon-remove" ng-show="toolBar2" ng-click="toolBar2 = false; infoSign2 = false; introShow2 = false"></span>
      <span class="glyphicon glyphicon-info-sign" ng-hide="infoSign2" ng-click="toolBar2 = true; infoSign2 = true; introShow2 = true"></span> -->
      <a href="https://angularpizzaplanet.herokuapp.com/"><i class="fa fa-link" aria-hidden="true" ng-show="toolBar2"></i></a>
      <i class="fa fa-times" aria-hidden="true" ng-show="toolBar2" ng-click="toolBar2 = false; infoSign2 = false; introShow2 = false"></i>
      <i class="fa fa-info" aria-hidden="true" ng-hide="infoSign2" ng-click="toolBar2 = true; infoSign2 = true; introShow2 = true"></i>
    </div>

  </div>

    <div flex="33" flex-gt-lg='25' flex-sm="50" flex-xs="100" class="projectsDiv" >
      <a  href="https://twittersearchmap.herokuapp.com/">
        <img src="./images/twittersearch.png" alt="" />
        <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow1}">
          <h3>Twitter Search API</h3>
          <p>
            Features include showing tweets on Google map and D3 bubble chart of trending tweets and topics.
          </p>
        </div>
      </a>
      <div ng-show="is_touch_device" class="touchOnlyIcons" >
        <a href="https://twittersearchmap.herokuapp.com/"><i class="fa fa-link" aria-hidden="true" ng-show="toolBar1"></i></a>
        <i class="fa fa-times" aria-hidden="true" ng-show="toolBar1" ng-click="toolBar1 = false; infoSign1 = false; introShow1 = false"></i>
        <i class="fa fa-info" aria-hidden="true" ng-hide="infoSign1" ng-click="toolBar1 = true; infoSign1 = true; introShow1 = true"></i>
      </div>
    </div>

    <div flex="33" flex-gt-lg='25' flex-sm="50" flex-xs="100" class="projectsDiv" >
      <a  href="#slideshow">
        <img src="./images/butter.jpg" alt="" />
        <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow4}">
          <h3>Puppies Gallery</h3>
          <p>
            AngularJS slide show directive for dog lovers and Game of Thrones fans.
          </p>
        </div>
      </a>
      <div ng-show="is_touch_device" class="touchOnlyIcons" >
        <a href="#slideshow"><i class="fa fa-link" aria-hidden="true" ng-show="toolBar4"></i></a>
        <i class="fa fa-times" aria-hidden="true" ng-show="toolBar4" ng-click="toolBar4 = false; infoSign4 = false; introShow4 = false"></i>
        <i class="fa fa-info" aria-hidden="true" ng-hide="infoSign4" ng-click="toolBar4 = true; infoSign4 = true; introShow4 = true"></i>
      </div>
    </div>

    <div flex="33" flex-gt-lg='25' flex-sm="50" flex-xs="100" class="projectsDiv" >
      <a  href="#sticky-header">
        <img src="./images/stickyHeader.png" alt="" />
        <div ng-class="{intro: !is_touch_device, introTouchDeviceHide: is_touch_device, introTouchDeviceShow: is_touch_device && introShow4}">
          <h3>Sticky Header</h3>
          <p>
            A small site that features the effect I saw on Wranger site. I thought it was super neat and I wanted to see if I could reproduce the look and feel.
          </p>
        </div>
      </a>
      <div ng-show="is_touch_device" class="touchOnlyIcons" >
        <a href="#slideshow"><i class="fa fa-link" aria-hidden="true" ng-show="toolBar5"></i></a>
        <i class="fa fa-times" aria-hidden="true" ng-show="toolBar5" ng-click="toolBar5 = false; infoSign5 = false; introShow5 = false"></i>
        <i class="fa fa-info" aria-hidden="true" ng-hide="infoSign5" ng-click="toolBar5 = true; infoSign5 = true; introShow5 = true"></i>
      </div>
    </div>




  </div>

<!-- //footer where stay social -->
  <div class="footer fade-in" layout='column' >
    <div class="contact" layout="row" layout-wrap layout-align="center center">
      <div class="" flex='25' flex-xs='50' layout="column" layout-align="center center">
        <a href="mailto:jingzhaowait@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </div>
      <div class="" flex='25' flex-xs='50' layout="column" layout-align="center center">
        <a href="https://github.com/lovedoodle"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="" flex='25' flex-xs='50' layout="column" layout-align="center center">
        <a href="https://www.instagram.com/jing.wait/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="" flex='25' flex-xs='50' layout="column" layout-align="center center">
        <a href="https://twitter.com/JingWait"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>

  </div>
</div>
