<main layout='column' ng-controller="StickyHeaderCtrl" ng-cloak>
  <nav >
    <div class="navbar" layout='row'>
      <div class="" flex='50' layout='row' layout-align="start center">
        <md-button class="brand" >Story Time</md-button>
      </div>
      <div class="navigation" flex='50' layout='row' layout-align="end center">
          <md-button class="md-fab md-mini"><i class="fa fa-facebook" aria-hidden="true"></i></md-button>
          <md-button class="md-fab md-mini"><i class="fa fa-instagram" aria-hidden="true"></i></md-button>
          <md-button class="md-fab md-mini"><i class="fa fa-twitter" aria-hidden="true"></i></md-button>
          <md-button class="md-icon-button" aria-label="Custom Icon Button">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </md-button>
      </div>

    </div>
  </nav>
  <section layout='row' class="hikingImg" id="mainGallery">
    <div class="">
      <!-- <h2>Hiking is the best way to make you feel like you did something all day.</h2> -->

    </div>
  </section>
  <section layout'row' class="textWrap">
    <div class="textArea">
    </div>

  </section>
  <footer>

  </footer>
</main>
